*{
  padding: 0;
  margin: 0;
  outline: none;
}
.main{
  .btn_group{
    button{
      width: 90px;
      height: 32px;
      color: #fff;
      text-align: center;
      line-height: 32px;
      margin: 8px;
      background: linear-gradient(#37aaea,#117ed2);
      border: none;
      border-radius: 4px;
      transition: background;
      border: 1px solid #1992d9;
      &:hover{
        background: #117ed2;
      }
      &:nth-child(1){
        img{
          margin-top: -4px;
          margin-right: 4px;
          width:18px;
          height: 18px;
          vertical-align: middle;;
        }
      }
    }
  }
}
